h1 {
  font-size: 24px;
}

#login {
  text-align: right;
}
.logo {
  max-height: 110px;
}

.sidebar {
  max-width: 150px;
  float: left;
}
.headerlinks {
  float: right;
}
.page-header {
  max-width: 790px;
  height: 170px;
}

.welcome {
  width: 260px;
}
